@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Roboto:wght@700&display=swap');

*{box-sizing: border-box}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}

h1{
    line-height: 1.5em;
}

html{
    font-family: 'Playfair Display', serif;
    background: #141234;
    padding: 1em;
    color: #FFFFFF;
}
body{
    max-width: 900px;
    margin: 2em 0 auto;
    padding: 0 1em;
    line-height: 1.4em;
    letter-spacing: 0.4px;
}

img{
    max-width: 100%;
}

#logo{
    width:100px;
}

#profile-picture{
    max-width: 280px;
    border-radius: 100%;
}

a{
    color: #FFFFFF;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    padding: 0 1em;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    text-decoration: none;

}

ul.contact-information{
    padding-left: 1em;
    width: 50%;

}

.contact-information li{
    display: flex;
    align-items: center;
    margin-bottom: 0.4em;

}

.contact-information li strong{
    margin: 0 0.2em;
}


.contact-icon {
    width: 24px;
}

.location{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    margin-left:8em;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.4em;
}

.contact-heading {
    display: flex;
    align-items: center;
    margin-bottom: 0.4em;
    margin-right: 3em;
}


.location-container{
    display: flex;
    align-items: center;
    margin-bottom: 4em;
    justify-content: space-between;
    margin-right: 1em;
}

.download-button {
    background-color: black;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px;
    cursor: pointer;
}

.photo-container {
    display: flex;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.contact-information li{
    display: flex;
    align-items: center;
    margin-bottom: 0.4em;
}

.contact-information li strong{
    margin: 0 0.2em;
}

.row{
    display: flex;
}

.column {
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 900px){
    #profile-picture{
        max-width: 140px;
    }
}

@media screen and (max-width: 600px){
    #profile-picture{
        max-width: 100%;
    }

    .row{
        flex-direction: column;
    }
}


