<div th:replace="fragments/header" />

<h2>Contact Information</h2>
<p>Stay In Touch!!!</p>
<ul class="contact-information">
  <li>
    <span class="material-icons">contact_mail</span>
    <strong>Email-</strong> bhuvi.pavi@gmail.com
  </li>
  <li>
    <span class="material-icons">smartphone</span>
    <strong>Phone-</strong> +46 769538816
  </li>
  <li>
    <img src="/linkedInlogo.webp" alt="LinkedIn logo" id="linkedIn-logo">
    <strong>LinkedIn-</strong> <a href="https://www.linkedin.com/in/bhuvana-palaniappan" target="_blank">linkedin.com/in/bhuvana-palaniappan</a>
  </li>
</ul>

<h2>Location:</h2>
<p>Jönköping, Jonkoping County, Sweden</p>

</body>
</html>