<div th:replace="fragments/header" />

<h2>Personal Detail</h2>
<div class="contact-container">
  <h2 class="contact-heading">Contact Information</h2>
  <h2 class="contact-heading">Location</h2>
</div>
<p>Stay In Touch!!!</p>
<div class="contact-container">
<ul class="contact-information">

  <li>
    <span class="material-icons contact-icon">contact_mail</span>
    <strong>Email-</strong> bhuvi.pavi@gmail.com
  </li>
  <li>
    <span class="material-icons contact-icon">smartphone</span>
    <strong>Phone-</strong> +46 769538816
  </li>
  <li>
    <img src="/linkedInlogo.webp" alt="LinkedIn logo" class="contact-icon">
    <strong>LinkedIn-</strong> <a href="https://www.linkedin.com/in/bhuvana-palaniappan" target="_blank">linkedin.com/in/bhuvana-palaniappan</a>
  </li>
  <li>
    <img src="/Github.png" alt="Github logo" class="contact-icon">
    <strong>GitHub-</strong> <a href="https://github.com/BhuvanaPalani" target="_blank">github.com/BhuvanaPalani</a>
  </li>
</ul>

  <li class="location-container">
  <div class="location">
<span class="material-icons">location_on</span>
<strong>Göteborg-41870 , Sweden.</strong>

</div>
  </li>
</div>
</body>
</html>

