<div th:replace="fragments/header" />

<div class="photo-container">
<img src="/MyPhoto.jpg" alt="Bhuvana profile picture" id="profile-picture">
    <div class="button-container">
<a href="/Resume.pdf" target="_blank" download="BhuvanaResume.pdf" class="download-button">Download Resume</a>


<a href="/CoverLetter.pdf" download="BhuvanaCoverLetter.pdf" class="download-button">Download Cover Letter</a>
    </div>
</div>
<h2>Professional Overview</h2>
<p>HI! I am AWS Developer.
    As an AWS Developer, I am driven by a passion for cloud computing and a commitment to excellence.
    My agile learning style, coupled with strong problem-solving abilities, allows me to thrive in dynamic environments.
    I excel in collaborating with diverse, cross-functional teams to craft and deliver cutting-edge cloud solutions that consistently exceed client expectations.
    Leveraging my comprehensive technical skills and deep knowledge of AWS, I aim to design, develop, and deploy secure, scalable, and cost-effective cloud solutions.
</p>

</body>
</html>