<div th:replace="fragments/header"/>

<h2>My Projects</h2>
<p>These are few projects I did during the Course.
</p>

<h3>Person Details</h3>
<p>I created a project by opening the Jakarta EE JSP application to manage projects hosted on GitHub.
    This project is created in Spring Boot for creating, reading lists, update and delete person and projects using CRUD function.
</p>

<p>
    <a href="https://github.com/BhuvanaPalani/Person-Details" target="_blank">Link to github</a>
</p>

<h3>Employees Project Details</h3>
<p>I worked under how to use Spring and Spring Boot , GitHub and Versioning.
    I learnt systematic application development, basic API development using GET, POST, PUT and DELETE request with the Spring framework.
</p>

<p>
    <a href="https://github.com/BhuvanaPalani/EmployeeProjectBhuvana" target="_blank">Link to github</a>
</p>

<h3>Cognito Project</h3>
<p>I created where a user can register, login ,logout and delete their accounts
    connecting with AWS cognito using Spring Boot Framework.
</p>

<p>
    <a href="https://github.com/BhuvanaPalani/Bhuvana-cognito-project" target="_blank">Link to github</a>
</p>


</body>
</html>